.altcontent {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.h1div{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.buttonsdiv{
    display: flex;
    flex-direction: row;
    flex-grow: 1; 
    gap: 2rem; 
    
    
}

.bottomdiv{
display: flex;
flex-direction: row;
flex-grow: 1;
padding-top: 2rem;
padding-bottom: 2rem;


}

.leftbutton{
    flex-grow: 1;
    display: flex;
    align-self: center;
    justify-content: flex-end;

}

.rightbutton{
    align-self: center;
    flex-grow: 1;
    display: flex;
    
}

.imgdiv{
    display: flex;
    justify-content: center;
    
}

.quotediv{
    align-self: center;
    text-align: center;

}

.logo {
    color: gray;
}



.h1header {
    text-align: center;
    color: gray;
    font-size: 4rem;

}


.todopic {
    height: auto;
    max-width: 80%;
    border-radius: 2rem;
    
}

.quote {
    color: gray;
    font-weight: 400;
    font-size: 1.3em;
}

.login {
    
     
}

.signup {
}