
/* Empty list css ⬇️⬇️⬇️⬇️ */

.emptylist {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.h1div{
    
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.buttonsdiv{
    align-self: center;
    justify-self: center; 
    flex-grow: 1; 
    display: flex;
    flex-direction: row; 
}

.bottomdiv{
    
display: flex;
flex-direction: row;
flex-grow: 1;
padding-top: 2rem;
padding-bottom: 2rem;

}

.imgdiv{
    display: flex;
    justify-content: center;
    
}

.quotediv{
    align-self: center;
    text-align: center;

}



.h1header {
     text-align: center;
     color: gray;
}

.todopic {
    height: auto;
    max-width: 80%;
    border-radius: 2rem;
    
}
.createtodo {
    
}

.quote {
    color: gray;
    font-weight: 400;
    font-size: 1.3em;
}


/* Empty list css  ⬆️⬆️⬆️⬆️ */

/* List css ⬇️⬇️⬇️⬇️ */


.listcontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4em;
    justify-content: center;
    overflow: hidden;
    
}

.todocard {
    background-color: white;
    box-shadow:  3px 3px 3px 3px rgb(211, 207, 207);
    border: .2px solid rgb(233, 212, 212);
    text-align: center;
    width: 20%;
    flex-basis: 50%;
    max-height: 50%;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    
}

.todocard:hover {
    background-color: rgb(66, 64, 64);
    color: gray;
}

.title {
    color: grey;
    font-size: 2.5rem;
    
}

.date {
    font-size: 1.3rem;
    color: grey;
    
}

.content {
    color: grey;
}

