nav{
    background-color: rgb(125, 150, 175);
    box-shadow: 2.1px 2.1px 2.1px rgb(68, 68, 68);
    display: flex;
}

ul{
    margin: 0;
}
.home {
    color: white;
    background-color: red;
}

.paragraph {
    color: white;
    font-weight: bold;
}


